<div class="grid">
    <header><h1 class="title">Wrapper-Keeper</h1></header>
    <nav>
        {{#link-to '/'}}Home{{/link-to}}
        {{#link-to 'text-post'}}Post{{/link-to}}
        {{#link-to '/'}}Archive{{/link-to}}
        {{#link-to '/'}}...{{/link-to}}
        {{#link-to '/'}}...{{/link-to}}
    </nav>
    <div class="content">
        {{outlet}}
    </div>
    <footer><a href="http://twitter.com/aliseisaksen">@aliseisaksen</a> | 2017</footer>
</div>
