<div class="text-post">
    <div class="post-box">

            {{textarea class="post-text" key-up="textChange"}}
            <div class="submit">
                <button id="cancel-btn">Cancel</button>
                <button id="pocket-btn" {{action "pocket"}}>Pocket</button>
                <button id="publish-btn">Publish</button>
            </div>
            <p> You have {{count}} characters: {{text}}</p>

    </div>

    <div class="test"></div>
</div>
